h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgb(189, 152, 223);
    padding: 30px 40px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-variant: small-caps;
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif;

}


td:hover {
    background-color:  rgb(155, 140, 155);
}

.zoom:hover {
    background-color:  rgb(155, 140, 155);
}

td.day{
    background-color:rgb(239, 162, 218);
}

td.day:hover{
    background-color:  rgb(155, 140, 155);
}

table {
    margin: auto;
    margin-top: 6%;
    table-layout: fixed;
    width: 95%;
    text-align: center;
    border: 5px;
    border-color: black;
}

td {
    width: 25%;
}

tr.jam td {
    background-color: rgb(239, 162, 218);
}

td.zoom{
    background-color: rgb(224, 205, 241);
}

tr {
    background-color: white;
}